<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Finak</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>finak</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>


	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
    	<array>
    		<string>sms</string>
    		<string>tel</string>
    	</array>
    	<key>NSCameraUsageDescription</key>
        	<string>This app requires access to your camera to take photos for profile pictures and to select images for various features.</string>
        	<key>NSPhotoLibraryUsageDescription</key>
        	<string>This app requires access to your photo library to select images for profile pictures and other user content.</string>
        	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        	<string>This app needs access to your location in the background to provide accurate delivery updates and ensure your orders are delivered to the correct location.</string>
        	<key>NSLocationAlwaysUsageDescription</key>
        	<string>This app needs access to your location in the background to provide accurate delivery updates and ensure your orders are delivered to the correct location.</string>
        	<key>NSLocationWhenInUseUsageDescription</key>
        	<string>This app needs access to your location to provide accurate pickup and delivery locations, and to help our delivery partners navigate to your doorstep.</string>
        	<key>NSMicrophoneUsageDescription</key>
        	<string>This app needs access to your microphone to enable voice commands and provide a better user experience.</string>
        	<key>UIBackgroundModes</key>
            	<array>
            		<string>fetch</string>
            		<string>remote-notification</string>
            	</array>
	<key>FLTEnableImpeller</key>
        <false/>
        <key>CFBundleURLTypes</key>
        	<array>
        		<dict>
        			<key>CFBundleTypeRole</key>
        			<string>Editor</string>
        			<key>CFBundleURLSchemes</key>
        			<array>
        			<string>fb1370336117295411</string>
        				<string>com.googleusercontent.apps.349266882446-o96kmhar9iu4netgb9c792g9kskq3oif</string>
        			</array>
        		</dict>
        	</array>
        	<key>FacebookAppID</key>
            <string>1370336117295411</string>
            <key>FacebookClientToken</key>
            <string>7de9177a39f2d7c373e6decf58403245</string>
            <key>FacebookDisplayName</key>
            <string>Finak</string>
            <key>LSApplicationQueriesSchemes</key>
            <array>
              <string>fbapi</string>
              <string>fb-messenger-share-api</string>
            </array>
        <key>GIDClientID</key>
        <string>349266882446-o96kmhar9iu4netgb9c792g9kskq3oif.apps.googleusercontent.com</string>

</dict>
</plist>
